openapi: '3.0.2'
info:
  title: Survey API
  version: '1.0'
servers:
  - url: https://survey.sheepcs.de/api/v1

paths:
  /start-session:
    get:
      tags:
        - default
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Success'
                  - type: object
                    properties:
                      CSFRToken: # the unique user id
                        type: string
                        format: hash
                    example:
                      CSRFToken: 'djalsdjalsjdadjsasjkljd3-diojd'
        '500':
          $ref: '#/components/responses/500'
  /open-share:
    get:
      tags:
        - default
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Success'
                  - type: object
                    properties:
                      CSFRToken: # the unique user id
                        type: string
                        format: hash
                    example:
                      CSRFToken: 'djalsdjalsjdadjsasjkljd3-diojd'
        '500':
          $ref: '#/components/responses/500'

components:
  schemas:
    Success:
      type: object
      properties:
        status:
          type: string
        statusCode:
          type: number
      example:
        status: 'OK'
        statusCode: 200
    Created:
      type: object
      properties:
        status:
          type: string
        statusCode:
          type: number
      example:
        status: 'Created'
        statusCode: 201
  responses:
    '400':
      description: 'Invalid request'
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
              statusCode:
                type: number
            example:
              status: 'Invalid Request'
              statusCode: 400
    '403':
      description: 'Forbidden'
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
              statusCode:
                type: number
            example:
              status: 'Forbidden'
              statusCode: 403
    '404':
      description: 'Not Found'
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
              statusCode:
                type: number
            example:
              status: 'Not Found'
              statusCode: 404
    '500':
      description: 'Server Error'
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
              statusCode:
                type: number
            example:
              status: 'Server Error'
              statusCode: 500
